<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.url">jdbc:hsqldb:file:DB/ShareIt-DB;shutdown=true;hsqldb.write_delay=false;</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.username">DManstrator</property>
        <property name="connection.password" />

        <property name="current_session_context_class">thread</property>
        <!-- <property name="show_sql">true</property> -->
        <property name="hbm2ddl.auto">create</property>
        <property name="transaction.auto_close_session">true</property>

        <mapping class="edu.hm.management.media.Book" />
		<mapping class="edu.hm.management.media.Copy" />
		<mapping class="edu.hm.management.media.Disc" />
		<mapping class="edu.hm.management.media.Medium" />
    </session-factory>

</hibernate-configuration>