<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <display-name>RESTJerseyExample</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
      <servlet-name>Media Resource</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>  
          <param-name>jersey.config.server.provider.packages</param-name>  
         <param-value>edu.hm.management</param-value>
         </init-param>
        <init-param>
          <param-name>jersey.config.server.provider.classnames</param-name>
          <param-value>org.glassfish.jersey.jackson.JacksonFeature;edu.hm.exceptionHandling.InvalidJsonMapper</param-value>
        </init-param>
        <!--  Handle Errors http://javareferencegv.blogspot.de/2015/07/handle-invalid-json-request-by.html -->
<!--        <init-param>
          <param-name>com.sun.jersey.config.property.packages</param-name>
          <param-value>org.gv.blog</param-value>
        </init-param>
        <init-param>
          <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
          <param-value>true</param-value>
        </init-param>  -->
        <init-param> 
          <param-name>javax.ws.rs.Application</param-name> 
          <param-value>edu.hm.ShareItApplication</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <listener>
        <listener-class>edu.hm.ShareitServletContextListener</listener-class>
    </listener>
        
    <servlet-mapping>
        <servlet-name>Media Resource</servlet-name>
        <url-pattern>/shareit/*</url-pattern>
    </servlet-mapping>

</web-app>
